OPENCLAW_CONFIG_DIR=/home/user/projects/.openclaw
OPENCLAW_WORKSPACE_DIR=/home/user/projects/.openclaw/workspace
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_BRIDGE_PORT=18790
OPENCLAW_GATEWAY_BIND=loopback
OPENCLAW_GATEWAY_TOKEN=aa66712106b5d9dd69deff4164b87d21f9406fffb444ce6f1dc4f1553e84d86e
OPENCLAW_IMAGE=ghcr.io/openclaw/openclaw:latest
OPENCLAW_EXTRA_MOUNTS=
OPENCLAW_HOME_VOLUME=
OPENCLAW_DOCKER_APT_PACKAGES=
OPENCLAW_EXTENSIONS=
OPENCLAW_SANDBOX=
OPENCLAW_DOCKER_SOCKET=/var/run/docker.sock
DOCKER_GID=
OPENCLAW_INSTALL_DOCKER_CLI=
OPENCLAW_ALLOW_INSECURE_PRIVATE_WS=


#百炼
BAILIAN_BASEURL=https://coding.dashscope.aliyuncs.com/v1
BAILIAN_APIKEY=sk-sp-xxxxx

#配置qianduoduo的飞书
FS_APPID=feishu id
FS_APPSECRET=feishu_appsecret

#brave api
BRAVE_API_KEY=your brave api key
